body {
    background-image:url("bday3.png");
    background-size: 30%;
    background-repeat: repeat;
    background-position:top;
}
.text {
    
    background-color : #4d004d;
    font-family: 'Satisfy', cursive;
    text-align:center;
    font-size: 30px;
    color: white;
    animation-name: colorchange;
    animation-duration: 10s ;
    animation-iteration-count:infinite ;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

@keyframes colorchange {
    0% {color: white; }
    10% {color: cyan; }
    20% {color: yellow; }
    30% {color: red; }
    40% {color: orange; }
    50% {color: green; }
  
}
#date {
   text-align: center;
   font-size: small;
   font-family: Courier New;
}
